<mat-toolbar>

  @if (showToggle) {
  <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  }

  @if (warningSituation){
    <img src="images/icons/Bullets-red.png" class="blinking-icon">
  }
  
  @if (showBranding) {
  <app-branding />
  }
  <span class="flex-fill"></span>

  @if (auth.getPermision('header-scenario')) {

  <button mat-icon-button (click)="startScenario()" *ngIf="!getState()">
    <mat-icon>play_circle_outline</mat-icon>
  </button>
  <button mat-icon-button (click)="stopScenario()" *ngIf="getState()">
    <mat-icon>stop</mat-icon>
  </button>

  <div class="row">
    <div class="col-lg-12">
      <mat-form-field appearance="outline" class="current-scenario-frame">
        <mat-label>Current Scenario</mat-label>
        <mat-select required (selectionChange)="changeScenario()" [(value)]="currentScenario_id">
          @for (item of scenarios; track $index) {
          <mat-option value={{item.id}}>{{item.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  }
  @if (auth.getPermision('header-search')) {
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  }
  @if (auth.getPermision('header-lang')) {
  <app-translate />
  }
  <button mat-icon-button class="hide-small" (click)="toggleFullscreen()">
    <mat-icon>fullscreen</mat-icon>
  </button>

  @if (auth.getPermision('header-notification')) {
  <app-notification class="hide-small" />
  }
  <app-user />
  @if (auth.getPermision('header-notification-list')) {
  <button mat-icon-button class="hide-small" (click)="toggleSidenavNotice.emit()">
    <mat-icon>list</mat-icon>
  </button>
  }
</mat-toolbar>