.matero-header {
  --mat-toolbar-container-background-color: transparent;

  position: relative;
  z-index: 200;
  display: block;
  background-color: var(--header-background-color);
  backdrop-filter: blur(8px);
}
.current-scenario-frame{
  width: 100%;
  padding-top: 20px;
}
@keyframes blip {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-icon {
  animation: blip 1s infinite;
  width: 25px;
}