#map {
    height: calc(100vh - (var(--mat-toolbar-standard-height) + 30px));
    background-color: black;
}

.map-container {
    border-radius: 5px;
    box-shadow: 3px 2px 4px #030915;
    overflow: hidden;
}
