<div class="operationContainer">
    <div id="info">
        <div>
            <img class="info-img" [src]="gisObject.objectType.picBase64" />
        </div>
        <div>
            @if(!jaberState){
            <img src="/images/icons/Bullets-red.png" class="blinking-icon" />
            }
            @else {
            <img src="/images/icons/Bullets-green.png" class="none-blinking-icon" />
            }
            <span>{{gisObject.name}}</span>
        </div>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="operationMap">
                @if(selectedTarget !=undefined)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <span>شماره سریال هدف جهت در اختیار گیری :‌</span><span class="hunting-serialno">{{selectedTarget.targetId}}</span>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-lg-6">
                        <mat-slide-toggle color="primary" [checked]="goToHome" [disabled]="!goToHomeState"
                            (change)="goToHomeTogle()">
                            برگشت به خانه
                        </mat-slide-toggle>
                    </div>
                    <div class="col-lg-6">
                        <mat-slide-toggle color="primary" [checked]="goToLocation" [disabled]="!goToLocationState"
                            (change)="goToLocationTogle()">
                            نشاندن در مقصد
                        </mat-slide-toggle>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-slide-toggle color="primary" [checked]="flying" [disabled]="!flyingState"
                            (change)="flyingTogle()">
                            بلند کردن
                        </mat-slide-toggle>
                    </div>
                    <div class="col-lg-6">
                        <mat-slide-toggle color="primary" [checked]="landing" [disabled]="!landingState"
                            (change)="landingTogle()">
                            نشاندن
                        </mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="targets">
                <mtx-grid [data]="targetList" [columns]="columns" [loading]="false" [columnResizable]="true"
                    [multiSelectable]="false" [rowSelectable]="true" [hideRowSelectionCheckbox]="true" [rowHover]="true"
                    [rowStriped]="true" [showToolbar]="true" [toolbarTitle]="'اهداف قابل در اختیار گیری'"
                    [columnHideable]="false" [columnSortable]="true" [columnPinnable]="true" [expandable]="true"
                    [expansionTemplate]="expansionTpl" [pageOnFront]="true" [showPaginator]="false"
                    [noResultText]="'هیچ موردی شناسایی نشده است.'" [pageSize]="3"
                    (rowSelectedChange)="targetSelected($event)" />
                <ng-template #expansionTpl let-row>
                    {{row.name}}
                </ng-template>
            </div>
        </div>
    </div>
</div>