/* You can add global styles to this file, and also import other style files */
@use 'styles/reboot';
@use 'styles/themes';
@use 'styles/colors';
@use 'styles/grid';
@use 'styles/helpers';
@use 'styles/plugins';
@use 'styles/custom';

html,
body {
    font-family: Dana !important;
}

.btn {
    font-family: "Dana" !important;
}

@keyframes blip {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blinking-icon {
    animation: blip 1s infinite;
  }
  

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control,
.mdc-text-field--outlined,
.mdc-floating-label,
.mat-mdc-dialog-container,
.mdc-dialog__content,
.mat-mdc-form-field,
.mat-mdc-button,
.mat-mdc-dialog-container,
.mdc-dialog__title,
.mdc-list-item__primary-text,
.mat-mdc-option,
.mat-mdc-select-value,
.mat-mdc-select-value-text,
.mat-mdc-select-min-line,
.mat-mdc-select,
.mat-mdc-form-field-error,
.mat-mdc-tab-ripple,
.mat-mdc-tab.mdc-tab,
.mat-mdc-tab,
.mat-tab,
.mdc-tab__content,
.mat-mdc-tab-labels,
mat-label,
mat-tab {
    font-family: "Dana", sans-serif !important;
    font-size: small;
}

.mat-mdc-tab-labels,
.mat-mdc-tab.mdc-tab,
.mat-mdc-tab,
.mat-tab {
    color: #000 !important;
    /* font-size: 18px !important; */
    white-space: nowrap !important;
    /* font-weight: 600 !important; */
    font-family: "Dana", sans-serif !important;

}

.mat-mdc-row,
.mat-mdc-header-row,
.mat-mdc-paginator {
    font-family: "Dana", sans-serif !important;
}


.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    font-family: "Dana", sans-serif !important;
}

.h5{
    font-family: "Dana", sans-serif !important;
}

.mdc-button{
    font-family: "Dana", sans-serif !important;
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/Dana/dana_regular.eot");
    src: url("../public/fonts/Dana/dana_regular.eot?#iefix") format("embedded-opentype"), url("../public/fonts/Dana/dana_regular.woff2") format("woff2"), url("../public/fonts/Dana/dana_regular.woff") format("woff"), url("../public/fonts/Dana/dana_regular.ttf") format("truetype");
}

.leaflet-draw-draw-marker {
  background-image: url('/images/icons/tank.256x158.png') !important;
  background-size: 20px 16px !important; /* Adjust to fit the button size */
  background-position: 5px 7px !important;
}
.leaflet-draw-draw-polyline {
  background-image: url('/images/icons/aircraft.256x211.png') !important;
  background-size: 20px 16px !important; /* Adjust to fit the button size */
  background-position: 5px 7px !important;
}

/* Override Leaflet popup background color */
.custom-popup .leaflet-popup-content-wrapper {
  background-color: #000508; /* Change to your desired color */
}

.custom-popup .leaflet-popup-tip {
  background-color: #020b13; /* Match the background of the tip */
}
