<div class="main-frame">
    <div class="title">
        <span>{{sensorName}}</span>
    </div>
    <div clase="data-frame">
        <div class="data">
            <mtx-grid [data]="targetList" [columns]="columns" [loading]="isLoading" [columnResizable]="true"
                [multiSelectable]="false" [rowSelectable]="true" [hideRowSelectionCheckbox]="true" [rowHover]="true"
                [rowStriped]="true" [showToolbar]="true" [toolbarTitle]="'شناسایی موقعیت اهداف'"
                [columnHideable]="false" [columnSortable]="true" [columnPinnable]="true" [expandable]="false"
                [expansionTemplate]="expansionTpl" [pageOnFront]="true" [showPaginator]="true" [noResultText]="'هیچ موردی شناسایی نشده است.'"
                [pageSizeOptions]="[5,10,50,100]" [pageIndex]="0" [pageSize]="5" />
            <ng-template #expansionTpl let-row>
                {{row.name}}
            </ng-template>
        </div>
        <div class="map-container">
            <div [id]="mapId" class="ppi-map">
            </div>
        </div>
    </div>
</div>