<page-header />
<div class="row">
@for (sensor of Sensors; track sensor.name) {
    <div class="col-lg-6">
        <ng-template #containers></ng-template>
    </div>
}
</div>

<!-- <app-radar-ppi #radarPPI centerLat="35.236365802645544" centerLng="51.79367065429688" radius="40000"
    sensorName="رادار کاشف"></app-radar-ppi>
<app-df-ppi #dfPPI centerLat="32" centerLng="56" radius="50000" sensorName="حسگر صوتی"></app-df-ppi>
<app-saher-ppi #saherPPI centerLat="32" centerLng="56" radius="50000" sensorName="سامانه ساهر"></app-saher-ppi>
<app-jaber-ppi #jaberPPI centerLat="32" centerLng="56" radius="50000" sensorName="سامانه جابر"></app-jaber-ppi> -->